<div class="header">
  <h1>Dashboard</h1>
</div>

  <div class="dash">
  <p>Welcome to the Coconut Essentials shop! You've come to the correct place if you're a fan of all things coconut.
     Here, we celebrate this tropical wonder's incredible adaptability and offer a chosen variety of top coconut-based items.
     We've got you covered with a variety of things that highlight the natural beauty and rich flavors of the coconut.</p>
    </div>

<div class="container">
  <div class="cards">
      <h2>SERUM</h2>
      <p>Items Sold (300PCS)</p>
      <img src="../../../assets/6.png" class="image" alt="">
  </div>

  <div class="two">
      <h2>FRAGRANCE</h2>
      <p>Items Sold (250PCS)</p>
      <img src="../../../assets/5.png" class="image" alt="">

  </div>

  <div class="three">
      <h2>OIL</h2>
      <p>Items Sold (120PCS)</p>
      <img src="../../../assets/1.png" class="image" alt="">
  </div>

  <div class="four">
      <h2>CANDLES</h2>
      <p>Items Sold (200pcs)</p>
      <img src="../../../assets/16.jpg" class="image" alt="">
  </div>
</div>

<div class="chart-container">
  <table>
      <thead>
          <tr>
              <th>Month</th>
              <th>Sales</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>January</td>
              <td><div class="bar" style="width: 80%;">$800</div></td>
          </tr>
          <tr>
              <td>February</td>
              <td><div class="bar" style="width: 60%;">$600</div></td>
          </tr>
          <tr>
              <td>March</td>
              <td><div class="bar" style="width: 40%;">$400</div></td>
          </tr>

      </tbody>
  </table>
</div>
<div class="footer">
  <p>&copy; COCO ESSENTAILS </p>
</div>
