<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Screen</title>
</head>
<body>
  <div class="parent">
  <div class="col-sm-9">
    <div class="well">
      <h4>Dashboard</h4>
      <p>text..</p>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="well">
          <h4>text</h4>
          <p>text </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well">
          <h4>text</h4>
          <p>text</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well">
          <h4>text</h4>
          <p>text </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well">
          <h4>text</h4>
          <p>text</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="well">
          <p>Text</p>
          <p>Text</p>
          <p>Text</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <p>Text</p>
          <p>Text</p>
          <p>Text</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <p>Text</p>
          <p>Text</p>
          <p>Text</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="well">
          <p>Text</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <p>Text</p>
        </div>
      </div>
    </div>
  </div>




</div>

</body>
</html>

